<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Main Script</title>
</head>
<body>
    <h1>Run Main Script</h1>
    <form action="/run_main" method="post">
        <label for="exercise_type">Exercise Type:</label>
        <input type="text" id="exercise_type" name="exercise_type" value="walk" required><br><br>
        
        <input type="submit" value="Run Main Script">
    </form>
</body>
</html>

var myHeaders = new Headers();
myHeaders.append("Content-Type", "application/json");
var requestOptions = {
    method: "get",
    headers: myHeaders,
    redirect: "follow",
    
};

fetch("https://v1.nocodeapi.com/jhas0042/fit/AaShRtGBpoiBsuVE/aggregatesDatasets?dataTypeName=steps_count,weight&timePeriod=today&durationTime=hourly", requestOptions)
    .then(response => response.text())
    .then(result => console.log(result))
    .catch(error => console.log('error', error));